<a href="https://colab.research.google.com/github/Renugadevi-2006/python-for-ml/blob/main/240901086%20pandas%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
#Empty DataFrame
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [14]:
emp=pd.Series(['Paeker','John','Smith','William'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("nSeries to Data frame\n")
print(result)

nSeries to Data frame

       Emp   ID
0   Paeker  102
1     John  107
2    Smith  109
3  William  114

In [15]:
print("\nAdding new column:\n")
result['Age']=pd.Series([35,24,40,38])
print(result)

Adding new column:

       Emp   ID  Age
0   Paeker  102   35
1     John  107   24
2    Smith  109   40
3  William  114   38

In [16]:
print("nDeleting one column:\n")
del result['Age']
print(result)

nDeleting one column:

       Emp   ID
0   Paeker  102
1     John  107
2    Smith  109
3  William  114

In [17]:
print("\nExtracting the third row:\n")
print(result.loc[2])

Extracting the third row:

Emp    Smith
ID       109
Name: 2, dtype: object

In [18]:
print("\nSlicing row:\n",result[1:3])

Slicing row:
      Emp   ID
1   John  107
2  Smith  109

In [21]:
d2=pd.DataFrame([['Dale',123],['Mark',143]],columns=['Emp','ID'])
result=pd.concat([result,d2],ignore_index=True)
print("\nAdding new row values:\n",result)

Adding new row values:
        Emp   ID
0   Paeker  102
1     John  107
2    Smith  109
3  William  114
4     Dale  123
5     Mark  143

In [23]:
print("\nDeleting particular row:\n",result.drop(1))

Deleting particular row:
        Emp   ID
0   Paeker  102
2    Smith  109
3  William  114
4     Dale  123
5     Mark  143